---
import Base from '../layouts/Base.astro';
---
<style>
		p{
			max-width: 35rem;
		}
        body{
            background: lightblue;
        }
	</style>
<Base title="Contact page">
	<div class="container my-5">
<h3>This is my Contact Page.</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore facere at debitis animi error! Consequuntur eius aliquid possimus deleniti asperiores eum culpa animi odio nisi quaerat illum sapiente, cum modi.</p>
</div>
</Base>