---
import Base from '../layouts/Base.astro';
---
<style>
		p{
			max-width: 35rem;
		}
        body{
            background: rgba(222, 184, 135, 0.42);
        }
		h3{
			color:red;
		}
		img{
			max-width:100%;
		}
	</style>
<Base title="HomePage">
	<div class="container my-5">
<h3 class="mx-auto" style="width: 800px;">This is my HomePage.</h3>
<img src="./images/img1.jpeg" alt="" class="my-5">
<p>Mehran Hassan Khan Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore facere at debitis animi error! Consequuntur eius aliquid possimus deleniti asperiores eum culpa animi odio nisi quaerat illum sapiente, cum modi.</p>
</div>
</Base>